@import url(https://fonts.googleapis.com/css?family=M+PLUS+1p);@import url(https://fonts.googleapis.com/css?family=Allura);@charset "UTF-8";
body {
  color: #615561;
  font-family: "M PLUS 1p", "Shree Devanagari 714", "Optima", "Nunito", "Yu Gothic", "Hiragino Kaku Gothic Pro", "sans-serif";
  font-weight: 400;
  font-size: 62.5%;
  /* 10px */
  background-color: #ffffff; }

a:active {
  text-decoration: none; }

h1 {
  font-weight: 800; }

h2 {
  font-weight: 800; }

h3, h4 {
  font-weight: 400; }

h1, h2, h3, h4, h5, p, span, div {
  margin: 0;
  color: inherit;
  letter-spacing: 0.9px; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.6rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.4rem; }

i {
  color: inherit; }

ul {
  padding: 0; }

li {
  list-style: none;
  font-size: 1.6em;
  /* 16px */ }

p {
  font-size: 1.6em; }

/* 16px */
.btn-maincolor {
  border: none;
  color: white;
  background-color: #ffffff; }
  .btn-maincolor:disabled {
    background-color: #c7c7c7; }

.btn-facebook {
  background-color: #3b5998;
  color: white;
  border: none; }

.btn-critical {
  border: none;
  color: white;
  background-color: #fb2943; }

.btn-shadow {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); }

.btn-default {
  color: #615561; }

.component.loader {
  border-radius: 50%;
  width: 10em;
  height: 10em;
  margin: 150px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(0, 0, 0, 0.2);
  border-right: 1.1em solid rgba(0, 0, 0, 0.2);
  border-bottom: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear; }

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.component.photo img {
  width: 40vw;
  height: 40vw;
  max-width: 300px;
  max-height: 300px; }

.component.product {
  display: flex;
  text-decoration: none;
  margin: 3vmin 0 0; }
  .component.product .link-container {
    height: 64.5vmin; }
  .component.product .product-img {
    width: 46.2vmin;
    object-fit: cover;
    object-position: 0% 0%;
    border-radius: 1.3vmin;
    overflow: hidden; }
  .component.product .owner-area {
    width: 80%; }
  .component.product .product-creator {
    background-color: rgba(255, 255, 255, 0.75);
    width: 100%;
    height: 14.5vmin;
    position: relative;
    bottom: 18.5vmin;
    padding: 0 2.4vmin 0;
    display: flex;
    align-items: center;
    justify-content: center; }
    .component.product .product-creator p {
      text-decoration: none;
      color: #F4F4F4; }
    .component.product .product-creator .owner-subject {
      font-size: 3.1vmin;
      color: #615561; }
    .component.product .product-creator .owner-name {
      font-size: 3.9vmin;
      color: #615561;
      font-weight: 600;
      width: 30vmin;
      overflow: hidden;
      white-space: nowrap; }
    .component.product .product-creator .profile_image {
      width: 10vmin;
      height: 10.5vmin;
      border-radius: 50%;
      margin: 0 auto 1vmin;
      object-fit: cover; }
    .component.product .product-creator .concept {
      font-weight: 800;
      font-size: 1.8rem; }
  .component.product .likes-count {
    position: relative;
    bottom: 19vmin;
    background-color: #31282c;
    border-radius: 0 0 1.3vmin 1.3vmin;
    color: #ababab;
    height: 4vmin;
    line-height: 4vmin;
    font-size: 2.7vmin;
    padding-left: 1.8vmin;
    padding-top: 0;
    font-weight: 600; }
    .component.product .likes-count i {
      padding-right: 1vmin; }

.component.tab {
  width: 50%;
  height: 10vmin;
  font-size: 4.2vmin;
  background-color: #31282C;
  color: white;
  text-align: center;
  line-height: 10vmin; }
  .component.tab .text {
    font-size: 4.5vmin;
    position: relative;
    z-index: 10;
    padding-top: 0; }
  .component.tab.fashion-active {
    color: #868686;
    background-color: #FAFAFA;
    border-top: #f0f0f0 1px solid; }
  .component.tab.beauty-active {
    color: #868686;
    background-color: #FAFAFA;
    border-top: #f0f0f0 1px solid; }

footer {
  width: 100%;
  bottom: 0px;
  /*================================================
        フッダーCSS
    =================================================*/ }
  footer #footer_menu {
    height: 10vmin;
    display: flex;
    align-items: center;
    color: #adadad;
    font-size: 4.5vmin;
    text-align: center; }
  footer .footer_fashion {
    width: 50%;
    height: 10vmin;
    background-color: #575757;
    line-height: 10vmin; }
  footer .footer_beauty {
    width: 50%;
    height: 10vmin;
    background-color: #31282c;
    line-height: 10vmin; }

.component.sub_header {
  /*================================================
        リストページCSS
    =================================================*/ }
  .component.sub_header #main_list {
    color: #fff;
    min-height: 100vh;
    max-height: auto;
    background: rgba(0, 0, 0, 0.7);
    box-sizing: border-box; }
  .component.sub_header .main_fashion, .component.sub_header .main_beauty {
    font-size: 7vmin;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #707070; }
  .component.sub_header .main_list_votes {
    letter-spacing: 2px;
    margin-right: 5vmin; }
  .component.sub_header .main_fashion span, .component.sub_header .main_beauty span {
    font-size: 11vmin;
    font-weight: 600;
    padding: 0 5px; }
  .component.sub_header .main_fashion h2 {
    width: 55vmin;
    height: 10vmin;
    font-size: 5vmin;
    font-weight: 200;
    background-color: #fe6eab;
    border-radius: 0 5vmin 5vmin 0;
    padding: 0 8px 0 0;
    display: flex;
    align-items: center;
    justify-content: center; }
  .component.sub_header .main_beauty h2 {
    width: 55vmin;
    height: 10vmin;
    font-size: 5vmin;
    font-weight: 200;
    background-color: #bc6efe;
    border-radius: 0 5vmin 5vmin 0;
    padding: 0 8px 0 0;
    display: flex;
    align-items: center;
    justify-content: center; }
  .component.sub_header .list_arrow {
    width: 10vmin;
    height: 10vmin;
    border: 0.4vmin solid;
    border-color: #f4f4f4 #f4f4f4 transparent transparent;
    transform: rotate(45deg); }

.component.product_votes_list {
  /*================================================
        リストページCSS
    =================================================*/ }
  .component.product_votes_list .main_list_votes {
    letter-spacing: 2px;
    margin-right: 35px; }
  .component.product_votes_list .main_sub_list {
    height: 20vmin;
    color: #f4f4f4;
    border-bottom: 1px solid #707070;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 4vmin; }
  .component.product_votes_list .main_sub_list p {
    width: 72%;
    padding: 0 0 0 3vmin;
    font-size: 4vmin;
    line-height: 180%; }
  @media (min-width: 500px) {
    .component.product_votes_list .main_sub_list p {
      width: 80%;
      padding: 0 0 0 4vmin; } }
  .component.product_votes_list .main_sub_list img {
    width: 15vmin;
    height: auto;
    border-radius: 50%;
    border: 1px solid #f4f4f4;
    object-fit: cover; }
  .component.product_votes_list .main_sub_list span {
    font-weight: 600;
    display: block; }
  .component.product_votes_list .list_arrow {
    width: 7.5vmin;
    height: 7.5vmin;
    border: 0.4vmin solid;
    border-color: #f4f4f4 #f4f4f4 transparent transparent;
    transform: rotate(45deg); }

#header_wrap {
  width: 100%;
  background-color: #fff;
  padding: 2vmin 0 2vmin;
  position: fixed;
  top: 0;
  z-index: 5; }
  #header_wrap #header_label {
    width: 15vmin;
    height: 16.7vmin;
    color: #fff;
    font-size: 2.85vmin;
    text-align: center;
    background-color: #D5C592;
    border-radius: 0 0 1.3vmin 1.3vmin;
    box-shadow: 0.7vmin 0.7vmin 0.7vmin rgba(0, 0, 0, 0.13);
    position: fixed;
    top: 0;
    right: 2vmin;
    z-index: 10;
    box-sizing: border-box;
    display: block;
    font-weight: 600; }
    #header_wrap #header_label span {
      display: block;
      margin: 0 auto;
      letter-spacing: 0.2vmin; }
    #header_wrap #header_label i {
      font-size: 9vmin;
      margin: 1.2vmin 0; }
  #header_wrap #header_label .label_push {
    width: 4.5vmin;
    height: 4.5vmin;
    color: #fff;
    font-size: 3.22vmin;
    text-align: center;
    background-color: #d90b0b;
    border-radius: 50%;
    position: absolute;
    top: 1vmin;
    right: -1.2vmin;
    padding-top: 0.1vmin;
    padding-left: 0.1vmin; }
  #header_wrap .header_logo {
    width: auto;
    height: 14vmin;
    display: block;
    margin: 0 auto; }
  #header_wrap .back-arrow {
    width: 9vmin;
    height: 9vmin;
    border: 0.4vmin solid;
    border-color: #31282C #31282C transparent transparent;
    transform: rotate(225deg);
    position: absolute;
    left: 5vmin;
    top: 4.5vmin; }

.component.modal {
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  -webkit-transform-origin-z: 1px;
  -webkit-transform: translate3d(0, 0, 1px);
  transform: translate3d(0, 0, 1px);
  height: 100vh; }

@keyframes slideModal {
  0% {
    opacity: 0;
    transform: translateY(50vmin); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
  .component.modal .modal-container {
    width: 90vw;
    padding: 3vmin;
    max-height: 70vh;
    background-color: white;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    -webkit-transform-origin-z: 2px;
    -webkit-transform: translate3d(0, 0, 2px);
    transform: translate3d(0, 0, 2px);
    animation-name: slideModal;
    animation-duration: 0.25s; }
    @media (min-height: 800px) {
      .component.modal .modal-container {
        max-height: 570px; } }
  .component.modal .modal-header {
    flex-grow: 0;
    flex-shrink: 0;
    position: relative; }
    .component.modal .modal-header h2 {
      width: 100%;
      height: 14vmin;
      font-size: 6vmin;
      line-height: 14vmin;
      margin: 0;
      text-align: center;
      font-weight: 400; }
    .component.modal .modal-header .close-button {
      width: 7vmin;
      height: 7vmin;
      position: absolute;
      right: -1vmin;
      top: -1vmin; }
    .component.modal .modal-header .close-button:before,
    .component.modal .modal-header .close-button:after {
      content: "";
      width: 7.8vmin;
      border-bottom: 0.5vmin solid #707070;
      position: absolute;
      display: block;
      z-index: 200;
      right: -0.2vmin;
      top: 3.3vmin; }
    .component.modal .modal-header .close-button:before {
      transform: rotate(-45deg); }
    .component.modal .modal-header .close-button:after {
      transform: rotate(45deg); }
  .component.modal .modal-content {
    flex-grow: 1;
    flex-shrink: 1;
    height: 50%;
    border: none; }

.screen {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  overflow: auto; }
  .screen .contents {
    flex-grow: 1;
    overflow: auto;
    -webkit-overflow-scrolling: touch; }

.screen.root {
  height: 100vh;
  width: 100vw;
  background-image: url(https://s3-ap-northeast-1.amazonaws.com/f-college-images/logos/top.png);
  background-size: cover; }
  .screen.root .back-overlay {
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .screen.root .img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto; }
    .screen.root .img-container .icon {
      margin-bottom: 3vmin;
      width: 15vmin;
      height: auto; }
    .screen.root .img-container .logo {
      width: 75%;
      height: auto;
      margin: 10px 0; }
  .screen.root .circle {
    margin: 0 auto;
    border-radius: 50%;
    width: 15vmin;
    height: 15vmin;
    border: 0.3vmin solid #f4f4f4;
    position: absolute;
    bottom: 5vmin;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center; }
    .screen.root .circle .root_icon {
      width: 8vmin;
      height: 8vmin;
      border: 0.4vmin solid;
      border-color: #f4f4f4 #f4f4f4 transparent transparent;
      transform: rotate(135deg);
      margin-top: -2.7vmin; }

.screen.not-found > .contents {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .screen.not-found > .contents .content-title {
    color: #585858; }
    .screen.not-found > .contents .content-title h1 {
      font-weight: inherit;
      font-size: 32vmin;
      letter-spacing: 1vmin;
      margin-top: 20px; }
    .screen.not-found > .contents .content-title p {
      font-size: 6vmin; }
  .screen.not-found > .contents .content-nav {
    color: #c7c7c7;
    margin-top: 15vmin;
    font-size: 3.3vmin;
    font-weight: 100; }
  .screen.not-found > .contents .redirect-link {
    margin-top: 20vmin;
    width: 60vmin;
    line-height: 11vmin;
    border-radius: 30vmin;
    background-color: #D5C592;
    color: #fff;
    font-size: 4.5vmin; }

.screen.products .contents {
  margin-top: 18vmin;
  margin-bottom: 10vmin;
  background: #ffffff; }

.screen.products .product-index {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: whitesmoke;
  padding: 0 2.45vmin 3vmin; }

.screen.products footer {
  width: 100%;
  height: 10vmin;
  position: fixed;
  bottom: 0px;
  z-index: 10; }

.screen.product-show {
  background-color: #fff;
  display: flex;
  text-decoration: none; }
  .screen.product-show .title {
    font-size: 12px;
    margin-bottom: 10px; }
  .screen.product-show .image-container {
    margin-top: 18vmin;
    width: 100vw; }
  .screen.product-show .product-img {
    object-fit: cover;
    object-position: 50% 0%;
    overflow: hidden;
    width: 100vw;
    height: 65vh;
    max-height: auto; }
  .screen.product-show .sub-images-container {
    overflow-y: overlay;
    width: auto;
    background-color: #F4F4F4; }
    .screen.product-show .sub-images-container img {
      object-fit: cover; }
    .screen.product-show .sub-images-container .img-container.cover {
      background-color: #31282C; }
    .screen.product-show .sub-images-container .img {
      opacity: .3;
      position: relative; }
    .screen.product-show .sub-images-container .active {
      background: whitesmoke;
      opacity: .9; }
  .screen.product-show .product-container {
    color: #31282C;
    padding: 0; }
    .screen.product-show .product-container h3 {
      font-size: 10vmin;
      margin: 7vmin auto 5vmin;
      font-family: "Allura", cursive;
      text-align: center;
      font-weight: 300; }
    .screen.product-show .product-container .concept {
      padding: 0 7vmin; }
      .screen.product-show .product-container .concept p {
        font-size: 3.8vmin;
        line-height: 180%; }
    .screen.product-show .product-container .creators {
      border: #f2f2f2 1px solid;
      padding: 2vmin 3.2vmin; }
    .screen.product-show .product-container .main-creator {
      font-size: 2.4vmin; }
    .screen.product-show .product-container .main-creator .subject {
      margin: 1vmin 0;
      font-weight: 600; }
    .screen.product-show .product-container .main-creator .name {
      margin-left: 3vmin; }
    .screen.product-show .product-container .main-creator > .concept {
      width: 67vw;
      display: inline-block;
      padding: 0; }
    .screen.product-show .product-container .main-creator > .profile-img {
      border-radius: 50%; }
    .screen.product-show .product-container .owner-img {
      width: 15.5vmin;
      height: 15.5vmin;
      border-radius: 50%;
      object-fit: cover; }
  .screen.product-show .bottom {
    text-align: center; }
  .screen.product-show .vote-button {
    background-color: #8B79DB;
    color: #F4F4F4;
    font-size: 5vmin;
    width: 60vmin;
    height: 14vmin;
    margin: 8vmin 0;
    border: 0px;
    border-radius: 10vmin; }
    .screen.product-show .vote-button span {
      padding: 0 2vmin; }
  .screen.product-show button {
    outline: none;
    box-shadow: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .screen.product-show .product.voted-card {
    display: flex;
    align-items: center;
    width: 95%;
    border: 1px solid #e9ecef;
    border-radius: 1vmin;
    padding: 2.4vmin;
    margin: 5vmin auto 4vmin; }
    .screen.product-show .product.voted-card .product-thumb {
      width: 24vmin;
      height: 24vmin;
      object-fit: cover; }
    .screen.product-show .product.voted-card .right-container {
      width: 100%;
      text-align: center;
      padding: 0 1.5vmin; }
      .screen.product-show .product.voted-card .right-container .right-container__title {
        font-size: 3vmin;
        padding: 2.3vmin 0; }
  .screen.product-show .suggest-product-title {
    font-weight: 600;
    margin: 0 3vmin 3vmin; }
  .screen.product-show .suggest-product-container {
    height: 34vmin;
    display: flex;
    flex-direction: row;
    overflow: auto;
    margin: 0 3vmin; }
    .screen.product-show .suggest-product-container .suggested-product {
      margin: 0 5px 10px;
      position: relative;
      width: 33vmin;
      height: 24vmin; }
    .screen.product-show .suggest-product-container .short-product-thumb {
      height: 30vmin;
      width: 30vmin;
      object-fit: cover;
      border-radius: 1vmin; }
    .screen.product-show .suggest-product-container .product-label {
      height: 7vmin;
      line-height: 7vmin;
      display: block;
      background-color: white;
      opacity: .85;
      text-align: center;
      width: 100%;
      margin-top: -7vmin; }
  .screen.product-show .vote-button-ext {
    background-color: #8B79DB;
    color: #F4F4F4;
    font-size: 5vmin;
    width: 55vmin;
    height: 13vmin;
    margin: 2vmin auto 1.8vmin;
    border: 0px;
    border-radius: 10vmin; }
    .screen.product-show .vote-button-ext span {
      padding: 0 2vmin; }
  .screen.product-show .re-vote-button {
    background-color: #d1d1d1;
    color: #fff;
    font-size: 5vmin;
    width: 55vmin;
    height: 13vmin;
    margin: 5vmin auto 3vmin;
    border: 0px;
    border-radius: 10vmin; }
    .screen.product-show .re-vote-button span {
      padding: 0 2vmin; }

@keyframes colorChange {
  0% {
    background-color: #d1d1d1; }
  100% {
    background-color: #8B79DB; } }
  .screen.product-show .button-active {
    background-color: #8B79DB;
    color: #F4F4F4;
    animation-name: colorChange;
    animation-duration: 0.20s; }
  .screen.product-show .re-vote-text {
    padding: 3vmin;
    font-size: 3.4vmin; }
  .screen.product-show .re-vote-image-list {
    width: 85vw;
    height: 39vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: auto;
    padding: 0 2.5vmin;
    margin: 2.5vmin 0 1.5vmin; }
  .screen.product-show .re-vote-product-image {
    width: 37.5vmin;
    height: 37.5vmin;
    border-radius: 1vmin;
    object-fit: cover; }
  .screen.product-show .non-select {
    margin: 1.2vmin 0; }
  .screen.product-show .delete-image-box {
    width: 37.5vmin;
    height: 37.5vmin;
    border-radius: 1vmin;
    background: #31282C;
    margin: 1.2vmin 0; }
  .screen.product-show .select {
    opacity: 0.25; }

.screen.product_vote_list .contents {
  color: #fff;
  min-height: 100vh;
  max-height: auto;
  background: rgba(0, 0, 0, 0.8);
  padding: 18vmin 0 0;
  box-sizing: border-box; }
